// Colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;

$primary-light-color: #4FC4F7;
$primary-dark-color: #0288D1;
$primary-color: #29B6F6;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// screen size
$screen-height: 800px;
$screen-width: 450px;

$spinner-size : 100px;