.main_page_container{
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    

}
.main_page_container{
    > h1 {
        width : 80%;
        word-wrap: break-word;
        margin-left: 20%;
    }
}
.student_list_tagline{
    border-bottom: 1px solid #c9c9c9;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;

}
.student_list_tag{
    
    color: #c9c9c9;
    
    
}

.student_list_container{
    height: 100%;
    width:80%;
    flex-direction: column;
    margin-left: 20%;
}
.student_list_cell{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #c9c9c9;
}
.student_list_cell{
    > img{
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }
}
.stundent_list_cell_username{

}
.chat_list_container{
    height: 100%;
    width:80%;
    flex-direction: column;
    margin-left: 20%;
}
.chat_list_tagline{
    padding: 10px;
    width: 100%;
    display:inline-block;
    border-bottom: 1px solid #c9c9c9;
}
.chat_list_tag{
    color: #c9c9c9;
    font-size: 25px;
}
.chat_list_cell{
    flex-direction: row;
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
}
.chat_list_cell_profileImage{
    display: inline-block;
    padding: 10px;
}
.chat_list_cell_profileImage{
    >img{
        width: 40px;
        border-radius: 50%;
    }
}
.chat_list_cell_text{
    padding: 10px;
    flex-direction: column;
    display: inline-flex;
}
.chat_list_cell_text{
    > span{
        margin-top: 5px;
        margin-left: 5px;
        color: #c9c9c9;
    }
}
.chat_list_cell_text{
    > h1{
        font-size: 20px;
    }
}

.setting_list_container{
    height: 100%;
    width:80%;
    flex-direction: column;
    margin-left: 20%;
}
.setting_list_tagline{
    padding: 10px;
    width: 100%;
    display:inline-block;
    border-bottom: 1px solid #c9c9c9;
}
.setting_list_tag{
    color: #c9c9c9;
    font-size: 25px;
}
.email_container{
    width: 100%;
    flex-direction: column;
    display:inline-flex;
    padding: 10px;
    border-bottom: 1px solid #c9c9c9;
}
.email_text{
    font-size: 25px;

}
.signout{
    margin-left: auto;
    color: $primary-light-color;
}